#menu-bar {
    background-color:#563d7c !important;
    align-items: stretch;
    position: fixed;
}
.navbrand span{
    color: red;
    text-shadow: lawngreen;
    font-weight: 900;
    font-family: cursive;    
}
.navbrand{
   font-weight: 900;
   font-size: 1.6em;
   text-shadow: cornsilk;
   background-color:transparent;
   float: left;
   padding-right: 35px;
   }
#nav ul li a{
    color: white;
    align-items: right;    
    padding:15px;
    height: auto;
}

.max-width{
    max-width: 1300px;
    padding: 0 0px;
    margin: 0px;
}
.home{
    background-image:url("https://image.shutterstock.com/image-vector/empty-pizzeria-room-interior-furnace-260nw-1595678419.jpg") ;
    background-repeat: no-repeat;
    background-position-x:left;
    background-size: cover;    
    background-attachment: fixed;
    background-blend-mode: lighten;
    display: flex;     
    height: auto;
    color:black;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
    padding-top: 45px;

}
.home .max-width{
    width: 100%;
    
  }
  .home column{
      display: flex;
      width: 50%;
  }
  .home .max-width .row{
    margin-right: 0;
  }
  .home .home-content .text-1{
    font-size: 35px;
    text-decoration: yellow;
    font-style: oblique;
    padding-top: 30px;
}
.home .intro{
    width: 35px;
}

    

.home .order label{
    font-style: oblique;
  
}
.home .order h1{
    text-align: center;
}
.home .order{
    width:50%;
    display: block;
    text-align: left;
    justify-content: right;
    float: right;
    color:white;
    height: 100%;
    line-height: 35px;
    font-size: 18px;
    padding-top: 50px; 
    margin-bottom: 0px;
    padding-left: 45px;
    background-image: url("https://images.unsplash.com/photo-1525947088131-b701cd0f6dc3?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8d29vZCUyMHRleHR1cmV8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");  
        
}
    .home .form{                  
        width: 100%;
        place-content:center;              
        position: relative;        
        justify-content: center;
        height: auto;
                             
        
      }
#services .max-width h1{
    color: red;
    

}   
#services{
    text-align: center;
    justify-content: center;
    
}
#services .about-content .left{
  width: 25%;
  float: left;
}
#services .about-content .left img{
  height: 410px;
  width: 250px;
  object-fit: cover;
  border-radius: 6px;
}
#services .about-content .right{
  width: 75%;
  float: right;
}
#services .about-content .right .text{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: left;
}
 .about-content .right p{
  text-align: left;
  
  
}
.about-content table{
width: 100%;
border-collapse: collapse;
padding: 20px;
}
.about-content th, td {
border: 1px dotted black;

}
.footer{
       
    /* background:#563d7c; */    
    color: green;
    text-align: center;
    

}
.footer span a{
    color: crimson;
    text-decoration: none;
}
.footer span a:hover{
     text-decoration: underline;
}
    
.piz h3 {
    font-size: 2rem;
    color: rgb(134, 251, 197);
    font-family: 'Berkshire swash'cursive;
}

.piz p {
    color: antiquewhite;
}

.three {
    font-size: 2rem;
    color: rgb(134, 251, 197);
    font-family: 'Berkshire swash'cursive;
}

.thre {
    color: antiquewhite;
}

.table {
    color: darkorange;
}

.pay {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    display: none;
}

.how {
    color: darkorange;
    font-size: 30px;
}

.ph {
    color: turquoise;
}

.alert {
    display: none;
}

#pizza-total {
    color: white;
}

#thanks {
    color: white;
}

.delivery-form {
    display: none;
}

.alert-pizza {
    display: none;
}

.make {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#check-out {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}