#menu-bar {
    background-color:#563d7c !important;
    align-items: stretch;
    position: fixed;
}
.navbrand span{
    color: red;
    text-shadow: lawngreen;
    font-weight: 900;
    font-family: cursive;    
}
.navbrand{
   font-weight: 900;
   font-size: 1.6em;
   text-shadow: cornsilk;
   background-color:transparent;
   float: left;
   padding-right: 35px;
   }
#nav ul li a{
    color: white;
    align-items: right;    
    padding:15px;
    height: auto;
}

.max-width{
    max-width: 1300px;
    padding: 0 0px;
    margin: 0px;
}
#services .max-width h1{
    color: red;
    

}   
#services{
    text-align: center;
    justify-content: center;
    
}
#services .about-content .left{
  width: 25%;
  float: left;
}
#services .about-content .left img{
  height: 410px;
  width: 250px;
  object-fit: cover;
  border-radius: 6px;
}
#services .about-content .right{
  width: 75%;
  float: right;
}
#services .about-content .right .text{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: left;
}
 .about-content .right p{
  text-align: left;
  
  
}
.about-content table{
width: 100%;
border-collapse: collapse;
padding: 20px;
}
.about-content th, td {
border: 1px dotted black;

}